{#-
    Boilerplate - Base Template
    ------------------------------------------------------------
    Jinja2 base template. This is the template that all other
    templates extend from.
-#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if title %}{{ title }} - {% endif %}{{ config['APP_NAME'] }}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" />
</head>
<body class="bg-slate-50">
{% include 'boilerplate/nav.html' %}

{% block content %}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>