asttokens==2.4.1
auto-click-auto==0.1.4
blinker==1.8.1
click==8.1.7
decorator==5.1.1
dnspython==2.6.1
email_validator==2.1.1
executing==2.0.1
Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
idna==3.7
ipython==8.24.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
parso==0.8.4
pexpect==4.9.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
python-dotenv==1.0.1
six==1.16.0
SQLAlchemy==2.0.29
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.11.0
wcwidth==0.2.13
Werkzeug==3.0.2
WTForms==3.1.2
